Требования к поставке. Разработанное приложение поставляется в виде 3-х артефактов: 
...
2. Веб-приложения в виде архива приложения для развертывания на сервере приложений.
...

Дополнительные требования: 
...
Классы и библиотеки должны размещаться в пакетах, имена которых оканчиваются на FamiliaIO (фамилия и инициалы студента-исполнителя по шаблону латинскими буквами). 
...