Требования к поставке. Разработанное приложение поставляется в виде 3-х артефактов: 
1. База данных в виде скрипта (ов) создания и изначального наполнения данными. 
...

Дополнительные требования: 
База данных должна принадлежать к схеме вида familia_i_o (фамилия и инициалы по шаблону латинскими буквами).